<%= turbo_frame_tag 'newsletter' do %>
  <section class="py-12 py-sm-24 py-md-32 position-relative overflow-hidden">
    <img class="position-absolute start-50 bottom-0 translate-middle-x" src="flaro-assets/images/newsletter/gradient.svg" alt="">
    <div class="container position-relative">
      <div class="mw-lg mx-auto text-center">
        <span class="d-block mb-5 fs-9 fw-semibold text-primary text-uppercase">Newsletter</span>
        <h3 class="mb-12">Thank you for subscribing!</h3>
      </div>
    </div>
  </section>
<% end %>
