<section class="pt-24 pt-md-32 position-relative overflow-hidden">
  <img class="d-none d-lg-block position-absolute bottom-0 end-0 w-100 mw-xl mw-lg-2xl mw-xl-3xl me-2xl-40" src="flaro-assets/images/http-codes/illustration.png" alt="">
  <div class="container">
    <div class="mw-sm mx-auto mx-lg-0">
      <img class="d-block mb-14 img-fluid" src="flaro-assets/images/http-codes/404-2.svg" alt="">
      <h5 class="fs-5 mb-4">Something is wrong!</h5>
      <p class="text-secondary mb-32 mb-md-64">The page you are looking for is not found! Try something else or go back to homepage.</p>
      <a class="btn p-0 mb-16 btn-link fw-light d-inline-flex align-items-center" href="#">
        <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.66667 12.6667L2 8.00004M2 8.00004L6.66667 3.33337M2 8.00004L14 8.00004" stroke="#4F46E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <span class="ms-2">Go Back to Homepage</span>
      </a>
    </div>
    <img class="d-lg-none d-block img-fluid mt-20 mx-auto" src="flaro-assets/images/http-codes/illustration.png" alt="">
  </div>
</section>
