<section class="pt-24 pt-md-32 position-relative overflow-hidden">
  <%= image_tag "illustration.png", class: "d-none d-lg-block position-absolute bottom-0 end-0 w-100 mw-xl mw-lg-2xl mw-xl-3xl me-2xl-40" %>
  <div class="container">
    <div class="mw-sm mx-auto mx-lg-0">
      <h5 class="fs-5 mb-4">We are sad to see you go!</h5>
      <%= button_to "Unsubscribe", newsletter_subscriber_path(id: @newsletter_subscriber), method: :delete, class: "btn mb-8 w-50 btn-primary"%>
      <%= link_to  root_path, class: "ms-2 btn p-0 mt-20 btn-link fw-light d-inline-flex align-items-center" do %>
        <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.66667 12.6667L2 8.00004M2 8.00004L6.66667 3.33337M2 8.00004L14 8.00004" stroke="#4F46E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        Go Back to Homepage
      <% end %>
    </div>
  </div>
</section>
