// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "GT Planar Trial Bl", "Helvetica", "sans-serif";
$headers-font: "GT Planar Trial Bl", "Helvetica", "sans-serif";

@font-face {
  font-family: 'GT Planar Trial Bl';
  src: url('app/assets/fonts/GTPlanarTrial-Bl.woff2') format('woff2'),
      url('app/assets/fonts/GTPlanarTrial-Bl.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
// $my-font: "Font Name";
