// Specific CSS for your home-page
body{
  color: #E3E3E3;
}
h1{
  font-size: 5rem;
  font-weight: 900;
}
.custom-search {
  position: relative;
  width: 550px;
  text-align: center;

}
.custom-search-input {
  border: none;
  width: 100%;
  max-width: 550px;
  border-radius: 100px;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
  background-color: #18191a;
  box-shadow: 0 0 4px 0px #444950;
  align-items: center;
  height: 50px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  color: #E3E3E3;

}
.custom-search-btn {
  position: absolute;
  right: 16px;
  top: 3px;
  bottom: 3px;
  background: white;
  color: black;
  text-decoration: none;
  border: solid black 2px;
  border-radius: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 16px;
  z-index: 2;
}

.feedback{
  background-color: #1b1b1d;
  width: 80%;
  border-radius: 15px;
  min-height: 250px;
  padding: 10px;
  margin: auto;
  box-shadow: 0 1px 8px hsla(0, 0%, 100%, .2);
}

.feedback-box{
  flex: 1;
}
.feedback-input{
  padding: 16px;
  min-width: 35px;
  font-size: 16px;
  width: 100%;
  background-color: #18191a;
}

.fb-header{
  font-size: 40px;
  font-weight: 700;
}

input{
  padding: 2px;
  background: #e3e3e3;
  display: block;
  transition: background-color 0.2s ease 0s;
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
}

.feedback-btn{
  padding: 16px 22px;
  color: white;
  cursor: pointer;
  background-color: #424243;
  --hover-color: #424243;
  width: 100%;
  opacity: 1;
  align-items: center;
  appearance: none;
  border: solid #000;
  border-radius: 8px;
  border-width: 2px 2px 4px;
  display: flex;
  flex-direction: row;
  font: inherit;
  font-weight: 700;
  justify-content: center;
  transition: background-color .1s;
}

.fb-input-container{
  padding: 2px;
  background: #e3e3e3;
  display: block;
  transition: background-color 0.2s ease 0s;
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
  :focus{
    border: 2px solid #0B84F3;
  }
}

.pricing-header{
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

.feature-1{
  border: 1px solid white;
  width: 960px;
  height: 360px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  margin: auto;
}

.pricingcontainer_1{
  border-radius: 10px;
  border: 4px solid white;
  height: 240px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin: auto;
}

img{
  height: 500px;
}
