<nav class="navbar navbar-expand sticky-top">
  <div class="container-fluid ">
    <%= link_to "SHORTIFY", "/", class: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/schedules">Planner</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/outputs">Your Videos</a>
          </li>
          <li class="nav-item active">
            <%= link_to "Create", "/outputs/new", class: "button" %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, class: "button-1", data: {turbo_method: :delete} do %>
              Log-out
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-item button" href="/users/sign_up">Get Started For Free</a>
          </li>
        <% end %>
      </ul>
      <%# <a class="button" href="#" role="button"><%= current_user ? 'Logout' : 'Sign up'%>
    </div>
  </div>
</nav>
