<div class="examples_card">
  <%# <%= video_tag video_source, size: "1080x1920", loop: true, controls: false, autoplay: true, muted: true, class: 'preview' %>
  <%= image_tag ("shortify-img-1.jpg"), :class => "video"%>
  <%= image_tag ("1.png"), :class => "phone"%>
</div>
