<section class="py-12 py-sm-24 py-md-32 ms-36">
  <div class="container"><span class="fs-9 fw-semibold text-primary text-uppercase" >Frequently Asked questions</span>
    <h2 class="mt-5 mb-16" >Common Answers</h2>
    <div class="mw-6xl">
      <div class="row mb-n8">
        <div class="col-12 col-sm-6 mb-8">
          <div class="mw-lg mw-sm-none mx-auto h-100 p-6 rounded-4 border shadow-sm">
            <h5 class="mb-4" >1. How does the free trial work?</h5>
            <p class="text-secondary" >Lorem ipsum dolor sit amet, to the  consectr adipiscing elit. Volutpat tempor condimentum vitae vel purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-8">
          <div class="mw-lg mw-sm-none mx-auto h-100 p-6 rounded-4 border shadow-sm">
            <h5 class="mb-4" >2. How long do you store the videos for?</h5>
            <p class="text-secondary mb-0" >Lorem ipsum dolor sit amet, to the  consectr adipiscing elit. Volutpat tempor condimentum vitae vel purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-8">
          <div class="mw-lg mw-sm-none mx-auto h-100 p-6 rounded-4 border shadow-sm">
            <h5 class="mb-4" >3. How can I get support?</h5>
            <p class="text-secondary mb-0" >Lorem ipsum dolor sit amet, to the  consectr adipiscing elit. Volutpat tempor condimentum vitae vel purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="col-12 col-sm-6 mb-8">
          <div class="mw-lg mw-sm-none mx-auto h-100 p-6 rounded-4 border shadow-sm">
            <h5 class="mb-4" >4. How can Stan finish this on time?</h5>
            <p class="text-secondary mb-0" >Lorem ipsum dolor sit amet, to the  consectr adipiscing elit. Volutpat tempor condimentum vitae vel purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="btn p-0 btn-link mt-8 text-decoration-underline" href="#" >Get in touch</a>
  </div>
</section>