<div class="top-content text-center pt-3">
  <h1>Turn REDDIT stories into shorts.<span class="accent" data-controller="typed"></span></h1>
  <br>
  <h2>Generate Engaging Shorts Using Customizable Templates</h2>
  <br>
</div>
<div class="row d-flex justify-content-center">
  <div class="search-container custom-search ">
    <input type="text" class="custom-search-input" placeholder="Reddit Post Url">
    <a href="/outputs/new" class="custom-search-btn">Start Creating<svg style="height:16px;margin-left:10px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"></path></svg>
    </a>
  </div>
</div>
<br>
<div class="examples d-flex justify-content-evenly" style="padding-top: 50px;">
  <%= image_tag ("1.png")%>
  <%= image_tag ("1.png")%>
  <%= image_tag ("1.png")%>
  <%= image_tag ("1.png")%>
</div>
<div class="feature-1">Share one of your favorite stories or posts in a short-form video. If you don't have one in mind, you can import popular stories directly from Reddit!
  <p>Select from our curated catalog of background videos to get the right feel for your content.</p>
  <p>Choose from a selection of font styles, sizes, and families for your subtitles. Pick a voice-over that suits your video! Adjust everything to your liking and create your video on the spot.</p>
  <p>After creating your short-form video, access it anytime in your personal library, along with any past videos you’ve made with us. Download them or share directly to your favorite social media sites and sharing platforms!</p>
</div>
<div class="feature-2"></div>
<div class="pricing-container">
  <h2 class="pricing-header">Pricing</h2>
  <div style="display:flex;flex-direction:column;gap:20px;margin-bottom:40px">
    <div class="pricingcontainer_1">
      <div class="audience_A6fw">For individuals and companies of up to 3 people</div>
      <h2 class="pricingtitle_iouC">Free License</h2>
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0">
          <circle cx="10" cy="10" r="10" fill="#0B84F3"></circle><path d="M14.7908 7.20505C15.0697 7.47844 15.0697 7.92243 14.7908 8.19583L9.07711 13.795C8.79813 14.0683 8.34505 14.0683 8.06606 13.795L5.20924 10.9954C4.93025 10.722 4.93025 10.278 5.20924 10.0046C5.48823 9.73121 5.9413 9.73121 6.22029 10.0046L8.5727 12.3077L13.7819 7.20505C14.0609 6.93165 14.514 6.93165 14.793 7.20505H14.7908Z" fill="white"></path></svg>
        <div class="text_pP5P">Unlimited videos</div>
      </div>
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0"><circle cx="10" cy="10" r="10" fill="#0B84F3"></circle><path d="M14.7908 7.20505C15.0697 7.47844 15.0697 7.92243 14.7908 8.19583L9.07711 13.795C8.79813 14.0683 8.34505 14.0683 8.06606 13.795L5.20924 10.9954C4.93025 10.722 4.93025 10.278 5.20924 10.0046C5.48823 9.73121 5.9413 9.73121 6.22029 10.0046L8.5727 12.3077L13.7819 7.20505C14.0609 6.93165 14.514 6.93165 14.793 7.20505H14.7908Z" fill="white"></path></svg>
        <div class="text_pP5P">Commercial use allowed</div>
      </div>
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0"><circle cx="10" cy="10" r="10" fill="#0B84F3"></circle><path d="M14.7908 7.20505C15.0697 7.47844 15.0697 7.92243 14.7908 8.19583L9.07711 13.795C8.79813 14.0683 8.34505 14.0683 8.06606 13.795L5.20924 10.9954C4.93025 10.722 4.93025 10.278 5.20924 10.0046C5.48823 9.73121 5.9413 9.73121 6.22029 10.0046L8.5727 12.3077L13.7819 7.20505C14.0609 6.93165 14.514 6.93165 14.793 7.20505H14.7908Z" fill="white"></path></svg>
        <div class="text_pP5P">Cloud rendering allowed (self-hosted)</div>
      </div>
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px">
        <div style="width:20px;height:20px;border-radius:10px;background-color:var(--footer-border)"></div>
        <div class="text_pP5P">Upgrade when your team grows</div>
      </div>
    </div>
    <div class="pricingcontainer_1">
      <div class="audience_A6fw">For collaborations and companies of 4+ people</div>
      <h2 class="pricingtitle_iouC">Company License</h2>
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0"><circle cx="10" cy="10" r="10" fill="#0B84F3"></circle><path d="M14.7908 7.20505C15.0697 7.47844 15.0697 7.92243 14.7908 8.19583L9.07711 13.795C8.79813 14.0683 8.34505 14.0683 8.06606 13.795L5.20924 10.9954C4.93025 10.722 4.93025 10.278 5.20924 10.0046C5.48823 9.73121 5.9413 9.73121 6.22029 10.0046L8.5727 12.3077L13.7819 7.20505C14.0609 6.93165 14.514 6.93165 14.793 7.20505H14.7908Z" fill="white"></path></svg>
        <div class="text_pP5P">Everything in Free License</div>
      </div>
      <div style="display:flex;flex-direction:row;align-items:center;gap:10px"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="flex-shrink:0"><circle cx="10" cy="10" r="10" fill="#0B84F3"></circle><path d="M14.7908 7.20505C15.0697 7.47844 15.0697 7.92243 14.7908 8.19583L9.07711 13.795C8.79813 14.0683 8.34505 14.0683 8.06606 13.795L5.20924 10.9954C4.93025 10.722 4.93025 10.278 5.20924 10.0046C5.48823 9.73121 5.9413 9.73121 6.22029 10.0046L8.5727 12.3077L13.7819 7.20505C14.0609 6.93165 14.514 6.93165 14.793 7.20505H14.7908Z" fill="white"></path></svg>
        <div class="text_pP5P">Prioritized Support</div>
      </div>
      <div style="height:30px"></div>
    </div>
  </div>
  <div class="feedback">
    <div class="feedback-box">
      <div class="fb-header">Give us feedback, we're new!</div>
      <p>Give us your thoughts about possible improvements to our website, we’re newbies 🦖</p>
      <div class="fb-input-container">
        <input type="text" class="feedback-input" placeholder="How can we improve user experience?">
      </div>
      <div style="width:4px;height:8px"></div>
      <button type="button" class="feedback-btn">Send</button>
    </div>
  </div>
