<div class="top-content text-center pt-3">
    <h1>Turn REDDIT stories into shorts.<span class="accent" data-controller="typed"></span></h1>
    <h2>Generate Engaging Shorts Using Customizable Templates</h2>
</div>
