<section class="py-12 py-sm-24 pt-md-32 pt-xl-56 bg-info-light overflow-hidden pt-0">
  <div class="container">
    <div class="mw-5xl mx-auto">
      <div class="row mb-18">
        <div class="col-12 col-lg-4 mb-12">
          <div class="position-relative mw-sm mx-auto p-8 rounded-4 bg-white border border-primary-light border-opacity-25 overflow-hidden">
            <div class="position-absolute top-0 start-0 h-100 w-100" style="backdrop-filter: blur(23px);"></div>
            <div class="position-relative"><span class="fw-semibold fs-9 text-primary text-uppercase" >Basic</span>
              <h4 class="mt-8 mb-0" >Free</h4>
              <span class="text-secondary fs-9" >No credit card required</span>
              <p class="mt-6 mb-4 text-secondary-dark" >Perfect for testing out our tool and running small projects.</p>
              <ul>
                <li>3 videos per day</li>
                <li>Video storage for up to 10 days</li>
                <li>Basic presets</li>
                <li>14 day Free Trial</li>
              </ul>
              <a class="btn w-100 btn-outline-light-dark text-dark" href="#" >Get Started Now</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-12">
          <div class="mw-sm mx-auto position-relative p-8 rounded-4 bg-white border border-primary-light border-opacity-25" style="box-shadow: 0px 53px 84px rgba(0, 0, 0, 0.2);">
            <div class="position-relative overflow-hidden"><img class="position-absolute bottom-0 start-0 w-100" src="flaro-assets/images/pricing/gradient3.svg" alt=""/>
              <div class="position-relative"><span class="fw-semibold fs-9 text-primary text-uppercase" >Standard</span>
                <h4 class="mt-8 mb-0" >$19/mo</h4>
                <span class="text-secondary fs-9" >No credit card required</span>
                <p class="mt-6 mb-4 text-secondary-dark" >Ideal for those wanting to grow their faceless social media more profesionally.</p>
                <ul>
                  <li>10 videos per day</li>
                  <li>Storage for ever</li>
                  <li>More presets</li>
                </ul>
                <a class="btn w-100 btn-primary" href="#" >Get Started Now</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="position-relative mw-sm mx-auto p-8 rounded-4 bg-white border border-primary-light border-opacity-25 overflow-hidden">
            <div class="position-absolute top-0 start-0 h-100 w-100" style="backdrop-filter: blur(23px);"></div>
            <div class="position-relative"><span class="fw-semibold fs-9 text-primary text-uppercase" >Premium</span>
              <h4 class="mt-8 mb-0" >26$/mo</h4>
              <span class="text-secondary fs-9" >No credit card required</span>
              <p class="mt-6 mb-4 text-secondary-dark" >For faceless social media entrepreneurs with demanding audiences. </p>
              <ul>
                <li>25 videos per day</li>
                <li>Storage for ever</li>
                <li>Higher video quality</li>
              </ul>
              <a class="btn w-100 btn-outline-light-dark text-dark" href="#" >Get Started Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>