#video-container{
  position: relative;
  width: 238px;
  height: 480px;

}
.phone{
  position: relative;
  object-fit: cover;
}

.video{
  position: absolute;
  width: 233px;
  top: 1.5px;
  height: 103%;
  object-fit: cover;
  border-radius: 50px;
  right: 5px;
  left: 5px;
}
