#video-container{
  position: relative;
  width: 238px;
  height: 480px;

}
.phone{
  position: relative;
  object-fit: cover;
}

.video{
  position: absolute;
  width: 233px;
  top: 1.5px;
  height: 103%;
  object-fit: cover;
  border-radius: 50px;
  right: 5px;
  left: 5px;
}

.new-vid-container{
  height: 400px;
  gap: 30px;

  .phone{
    height: 300px;
  }

  .video{
    width: 150px;
    height: 300px;
  }
}
