$enable-gradients: false;
$red: #ef4444;
$white: #fff;
$body-bg: $white;
$warning: #f59e0b;
$info: red;
$component-active-bg: $warning;
$spacer: 1%;
$body-text-align: left;
$input-bg: #FFFFFF;
