<div class="rounded-3 p-5 pt-10 shadow-sm">
  <div class="d-flex justify-content-center align-items-center">
    <div class="col-4">
      <h5>Subtitles</h5>
      <img id="preset-image-1" src="/text_sample.png" alt="test" class="rounded-3 shadow-sm w-75">
    </div>
    <div class="col-4">
      <h5>Voice</h5>
      <button id="preset-button-1" class="btn rounded-3 shadow-sm">Ruth</button>
    </div>
    <div class="col-4">
      <h5>Speed</h5>
      <button id="preset-button-2" class="btn rounded-3 shadow-sm">Fast</button>
    </div>
  </div>
</div>
