<div class="search-container custom-search ">
  <input type="text" class="custom-search-input" placeholder="Reddit Post Url">
</div>
<br>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<%= render 'pages/button', text: 'Save', path: '#' %>
<%= render 'pages/button', text: 'Next', path: '#' %>
<%= render 'pages/button', text: 'Magic', path: '#' %>
