<div data-controller="video-upload">
  <%= simple_form_for @output, data: { controller: "output-upload", output_upload_target: "form" } do |f| %>
    <%= f.input :reddit_post_url, label: "Reddit Post URL" %>
    <%= f.input :src_video, as: :radio_buttons %>
    <%= f.button :submit, "Create Output and Generate Video", data: { action: "click->output-upload#submit" } %>
  <% end %>
</div>
