<div class="d-flex flex-column h-100">
  <div style="height: 20%">
    <h1 style="font-size: 40px">Choose your background <span style="color: #F4C644">video.</span></h1>
    <p style="color: #6d6d6d">You can also upload your own video or let us select randomly from the video library.</p>
  </div>
  <div class="d-flex flex-row new-vid-container">
    <div id="video-container">
      <% if local_assigns[:f] %>
        <%= f.input :source, as: :file, label: "Video 1" %>
      <% end %>
    </div>
    <div class="d-flex flex-row new-vid-container">
    </div>
  </div>
</div>
