      
<div data-controller="video-upload">
  <%= form_with model: @source, url: sources_path, html: { data: { controller: "video-upload" } } do |sf| %>
    <%= sf.file_field :file, data: { video_upload_target: "input", action: "change->video-upload#upload" } %>
  <% end %>
</div>
