<div id="progress-bar-container">
  <p class="hello-world"></p>
  <div class="progress-wrapper">
    <div class="progress">
      <div id="progress-bar" class="progress-value" style="width: <%= @output.progress || 0 %>%;"></div>
    </div>
  </div>
</div>
