<div class="container mt-3 mb-5" data-controller="overlay">
  <div class="row mt-3">
    <div class="col-6">
      <h2>Font</h2>
      <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      <h2>Font size</h2>
      <ul class="list-group">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      <h2>voice</h2>
      <%= render 'pages/button', text: 'Back', path: new_output_path %>
      <%= render 'pages/button', text: 'Submit', path: outputs_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
